#encoding UTF-8
<?xml version="1.0" encoding="utf-8"?>
<wxdata>
	<outTemp>$current.outTemp</outTemp>
	<outHumidity>$current.outHumidity</outHumidity>
	<dailyRain>$day.rain.sum</dailyRain>
	<windSpeed>$current.windSpeed</windSpeed>
	<windDir>$current.windDir.ordinal_compass</windDir>
</wxdata>
