#encoding UTF-8
<?php
\$almanac_moon_fullness = '$almanac.moon_fullness';
\$almanac_sun_az = '$almanac.sun.az';
\$almanac_sunrise = '$almanac.sunrise';
\$almanac_sunset = '$almanac.sunset';
\$current_barometer = '$current.barometer';
\$current_dateTime = '$current.dateTime';
\$current_dateTime_time = '$current.dateTime.format("%H:%M")';
\$current_dateTime_date = '$current.dateTime.format("%d.%m.%Y")';
\$current_dateTime_week = '$current.dateTime.format("%W")';
\$current_dateTime_month = '$current.dateTime.format("%B %Y")';
\$current_dateTime_year = '$current.dateTime.format("%Y")';
\$current_dewpoint = '$current.dewpoint';
\$current_outHumidity = '$current.outHumidity';
\$current_outTemp = '$current.outTemp';
\$current_rainRate = '$current.rainRate';
\$current_windDir_ordinal_compass = '$current.windDir.ordinal_compass';
\$current_windGust = '$current.windGust';
\$current_windSpeed = '$current.windSpeed';
\$day_dewpoint_max = '$day.dewpoint.max';
\$day_dewpoint_maxtime = '$day.dewpoint.maxtime';
\$day_dewpoint_min = '$day.dewpoint.min';
\$day_dewpoint_mintime = '$day.dewpoint.mintime';
\$day_outHumidity_max = '$day.outHumidity.max';
\$day_outHumidity_maxtime = '$day.outHumidity.maxtime';
\$day_outHumidity_min = '$day.outHumidity.min';
\$day_outHumidity_mintime = '$day.outHumidity.mintime';
\$day_outTemp_max = '$day.outTemp.max';
\$day_outTemp_maxtime = '$day.outTemp.maxtime';
\$day_outTemp_min = '$day.outTemp.min';
\$day_outTemp_mintime = '$day.outTemp.mintime';
\$day_rainRate_max = '$day.rainRate.max';
\$day_rainRate_maxtime = '$day.rainRate.maxtime';
\$day_rain_sum = '$day.rain.sum';
\$day_wind_avg = '$day.wind.avg';
\$day_wind_max = '$day.wind.max';
\$day_wind_maxtime = '$day.wind.maxtime';
\$day_wind_vecavg = '$day.wind.vecavg';
\$day_wind_vecdir = '$day.wind.vecdir';
\$month_dewpoint_max = '$month.dewpoint.max';
\$month_dewpoint_maxtime = '$month.dewpoint.maxtime';
\$month_dewpoint_min = '$month.dewpoint.min';
\$month_dewpoint_mintime = '$month.dewpoint.mintime';
\$month_outHumidity_max = '$month.outHumidity.max';
\$month_outHumidity_maxtime = '$month.outHumidity.maxtime';
\$month_outHumidity_min = '$month.outHumidity.min';
\$month_outHumidity_mintime = '$month.outHumidity.mintime';
\$month_outTemp_max = '$month.outTemp.max';
\$month_outTemp_maxtime = '$month.outTemp.maxtime';
\$month_outTemp_min = '$month.outTemp.min';
\$month_outTemp_mintime = '$month.outTemp.mintime';
\$month_rainRate_max = '$month.rainRate.max';
\$month_rainRate_maxtime = '$month.rainRate.maxtime';
\$month_rain_sum = '$month.rain.sum';
\$month_wind_avg = '$month.wind.avg';
\$month_wind_max = '$month.wind.max';
\$month_wind_maxtime = '$month.wind.maxtime';
\$month_wind_vecdir = '$month.wind.vecdir';
\$station_version = '$station.version';
\$trend_barometer = '$trend.barometer';
\$trend_time_delta_hour = '$trend.time_delta.hour.format("%.0f")';
\$week_dewpoint_max = '$week.dewpoint.max';
\$week_dewpoint_maxtime = '$week.dewpoint.maxtime';
\$week_dewpoint_min = '$week.dewpoint.min';
\$week_dewpoint_mintime = '$week.dewpoint.mintime';
\$week_outHumidity_max = '$week.outHumidity.max';
\$week_outHumidity_maxtime = '$week.outHumidity.maxtime';
\$week_outHumidity_min = '$week.outHumidity.min';
\$week_outHumidity_mintime = '$week.outHumidity.mintime';
\$week_outTemp_max = '$week.outTemp.max';
\$week_outTemp_maxtime = '$week.outTemp.maxtime';
\$week_outTemp_min = '$week.outTemp.min';
\$week_outTemp_mintime = '$week.outTemp.mintime';
\$week_rainRate_max = '$week.rainRate.max';
\$week_rainRate_maxtime = '$week.rainRate.maxtime';
\$week_rain_sum = '$week.rain.sum';
\$week_wind_avg = '$week.wind.avg';
\$week_wind_max = '$week.wind.max';
\$week_wind_maxtime = '$week.wind.maxtime';
\$week_wind_vecdir = '$week.wind.vecdir';
\$year_barometer_maxtime = '$year.barometer.maxtime';
\$year_barometer_mintime = '$year.barometer.mintime';
\$year_dewpoint_max = '$year.dewpoint.max';
\$year_dewpoint_maxtime = '$year.dewpoint.maxtime';
\$year_dewpoint_min = '$year.dewpoint.min';
\$year_dewpoint_mintime = '$year.dewpoint.mintime';
\$year_outHumidity_max = '$year.outHumidity.max';
\$year_outHumidity_maxtime = '$year.outHumidity.maxtime';
\$year_outHumidity_min = '$year.outHumidity.min';
\$year_outHumidity_mintime = '$year.outHumidity.mintime';
\$year_outTemp_max = '$year.outTemp.max';
\$year_outTemp_maxtime = '$year.outTemp.maxtime';
\$year_outTemp_min = '$year.outTemp.min';
\$year_outTemp_mintime = '$year.outTemp.mintime';
\$year_rainRate_max = '$year.rainRate.max';
\$year_rainRate_maxtime = '$year.rainRate.maxtime';
\$year_rain_sum = '$year.rain.sum';
\$year_wind_avg = '$year.wind.avg';
\$year_wind_max = '$year.wind.max';
\$year_wind_maxtime = '$year.wind.maxtime';
\$year_wind_vecdir = '$year.wind.vecdir';
?>
